:root{
  --bg-color: #404040;
  --font-color: white;
  --calc-color: rgb(38, 40, 44);
  --screen-color: #202020;
  --btn-color1: #222428;
  --btn-color2: #292b2f;
  --btn-result: rgb(147, 113, 80);
  --shadow1:#1f2024;
  --shadow2:#2d3034;
}

.light{
  --bg-color: #808080;
  --font-color: black;
  --calc-color: rgb(176, 185, 202);
  --screen-color: #f0dfdf;
  --btn-color1: #bbc3d2;
  --btn-color2: #9ba0a9;
  --btn-result: rgb(218, 166, 114);
  --shadow1:#b8bdd4;
  --shadow2:#a5afbd;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--bg-color);
  color: var(--font-color);
}

.calculator {
  padding: 20px;
  width: 90vw;
  height:90vh;
  margin: auto;
  display: grid;
  grid-template-areas:
    "screenArea screenArea"
    "extraArea buttonArea"
    "extraArea buttonArea";
  grid-column-gap: 0px;
  background-color: var(--calc-color);
  border-radius: 12px;
}

.screen {
  min-height: 90px;
  border-radius: 10px;
  background-color: var(--screen-color);
  padding: 10px 10px 0px 10px;
  grid-area: screenArea;
  height: auto;
  box-shadow: inset 8px 8px 16px var(--screen-color), inset -8px -8px 16px var(--shadow1);
  font-size: 70px;
  text-align: end;
  font-family: "Courier New", Courier, monospace;
}

.screen .history {
  font-size: 20px;
}

button {
  border: none;
  height: 100%;
  width: auto;
  border-radius: 6px;
  background: linear-gradient(145deg, var(--btn-color1), var(--btn-color2));
  box-shadow: 8px 8px 16px var(--shadow1), -4px -4px 16px var(--shadow2);
  text-align: center;
  vertical-align: middle;
  font-size: 1.875rem;
}

.buttons {
  user-select: none;
  cursor: pointer;
  display: grid;
  grid-area: buttonArea;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 1vw;
  grid-row-gap: 1vw;
  padding: 0.625rem 1.25rem 1.25rem 0px;
}

.result {
  background: var(--btn-result);
}
.extra button {
  background: var(--bg-color);
}

button:active {
  filter: brightness(80%);

  box-shadow: inset 5px 5px 10px var(--shadow1), inset -5px -5px 10px var(--shadow2);
}
button:hover {
  filter: brightness(110%);
}

.extra {
  grid-area: extraArea;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, 1fr);

}

@media (orientation: landscape) {
  .extra {
    display: grid;
  }

  .calculator {
    grid-template-areas:
      "screenArea screenArea"
      "extraArea buttonArea"
      "extraArea buttonArea";
  }
}
@media (orientation: portrait) {
  .extra {
    display: none;
  }

  .calculator {
    grid-template-areas:
      " screenArea"
      " buttonArea"
      " buttonArea";
  }
}
