* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #404040;
  color: white;
}

.calculator {
  width: 70%;
  margin: auto;
  display: grid;
  grid-template-areas:
    "screenArea screenArea"
    "extraArea buttonArea";
  grid-column-gap: 15px;
  background-color: rgb(38, 40, 44);
  padding: 20px;
  border-radius: 12px;
}

.screen {
  border-radius: 10px;
  background-color: #202020;
  padding: 10px;
  grid-area: screenArea;
  height: 150px;
  box-shadow: inset 8px 8px 16px #202020, inset -8px -8px 16px #181818;
  margin-bottom: 40px;
  font-size: 70px;
  text-align: end;
  font-family: "Courier New", Courier, monospace;
}

.screen .history {
  font-size: 20px;
}

button {
  border: none;
  height: 100%;
  width: auto;
  border-radius: 6px;
  background: linear-gradient(145deg, #222428, #292b2f);
  box-shadow: 8px 8px 16px #1f2024, -4px -4px 16px #2d3034;

  line-height: 90px;
  text-align: center;
  vertical-align: middle;
  font-size: 30px;
}

.buttons {
  user-select: none;
  cursor: pointer;
  display: grid;
  grid-area: buttonArea;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 1vw;
  grid-row-gap: 1vw;
}

.result {
  background: rgb(147, 113, 80);
}
.extra button {
  background: #404040;
}

button:active {
  filter: brightness(80%);

  box-shadow: inset 5px 5px 10px #18191c, inset -5px -5px 10px #24262a;
}
button:hover {
  filter: brightness(110%);
}

.extra {
  grid-area: extraArea;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, 1fr);
}

@media (orientation: landscape) {
  .extra {
    display: grid;
  }

  .calculator {
    grid-template-areas:
      "screenArea screenArea"
      "extraArea buttonArea";
  }
}
@media (orientation: portrait) {
  .extra {
    display: none;
  }

  .calculator {
    grid-template-areas:
      " screenArea"
      " buttonArea";
  }
}
