:root{
  --bg-color: #2e3440;
  --font-color: white;
  --calc-color: #3b4252;
  --screen-color: #202020;
  --btn-result: rgb(147, 113, 80);
  --shadow1:#2b303c;
  --shadow2:#4b5468;
}

.light{
  --bg-color: #D8DEE9;
  --font-color: black;
  --calc-color: #eceff4;
  --screen-color: #a9b1c0;
  --btn-color1: #bbc3d2;
  --btn-color2: #9ba0a9;
  --btn-result: rgb(218, 166, 114);
  --shadow1:#b8bdd4;
  --shadow2:#a5afbd;
}

.toggletheme{
  display: inline-block;
  padding: 0.1rem;
  margin: 0.2rem;
  border: none;
  background-color: #909090;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--bg-color);
  color: var(--font-color);
}

.calculator {
  padding: 20px;
  width: 90vw;
  height:90vh;
  margin: auto;
  display: grid;
  grid-template-areas:
    "screenArea screenArea"
    "extraArea buttonArea"
    "extraArea buttonArea"
    "extraArea buttonArea";
  grid-column-gap: 0px;
  background-color: var(--calc-color);
  border-radius: 12px;
}

.screen {
  height: 100%;
  border-radius: 10px;
  background-color: var(--screen-color);
  padding: 10px 10px 0px 10px;
  grid-area: screenArea;
  box-shadow: inset 8px 8px 16px var(--screen-color), inset -8px -8px 16px var(--shadow1);
  text-align: end;
  font-family: "Courier New", Courier, monospace;
}

.screen .history {
  font-size: 4vh;
  height: 6vh;
}
.screen .main {
  font-size: 8vh;
  height: 1.25rem;
}

.buttons button {
  border: none;
  height: 100%;
  width: auto;
  border-radius: 6px;
  background: var(--calc-color);
  box-shadow: 8px 8px 8px var(--shadow1), -4px -4px 8px var(--shadow2);
  text-align: center;
  vertical-align: middle;
  font-size: 1.875rem;
}

.buttons {
  margin-top: 2vh;
  user-select: none;
  cursor: pointer;
  display: grid;
  grid-area: buttonArea;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 1vw;
  grid-row-gap: 1vw;
  padding: 0.625rem 0 1.25rem 0;
}

.result {
  background: var(--btn-result);
}
.extra button {
  background: var(--bg-color);
}

button:active {
  filter: brightness(80%);

  box-shadow: inset 5px 5px 10px var(--shadow1), inset -5px -5px 10px var(--shadow2);
}
button:hover {
  filter: brightness(110%);
}

.extra {
  grid-area: extraArea;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, 1fr);
  padding: 0.625rem 1.25rem 1.25rem 0px;


}

@media (orientation: landscape) {
  .extra {
    display: grid;
  }

  .calculator {
    grid-template-areas:
      "screenArea screenArea"
      "extraArea buttonArea"
      "extraArea buttonArea"
      "extraArea buttonArea";
  }
}
@media (orientation: portrait) {
  .extra {
    display: none;
  }

  .calculator {
    grid-template-areas:
      "screenArea"
      "buttonArea"
      "buttonArea"
      "buttonArea";
  }
}
